<plrsLabelled [label]="label" [id]="id" [helpText]="helpText">
    <div class="Polaris-TextField">
        <ng-container *ngIf="prefix">
            <div class="Polaris-TextField__Prefix" id="{{ id }}Prefix">
                <plrsTempalteOrString [value]="prefix" display="inline"></plrsTempalteOrString>
            </div>
        </ng-container>
        <input
            [id]="id"
            [name]="name"
            class="Polaris-TextField__Input"
            attr.aria-labelledby="{{ id }}Label"
            aria-invalid="false"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            (keyup)="triggerKeyUp($event)"
             />
        <div class="Polaris-TextField__Backdrop"></div>
    </div>

</plrsLabelled>
