<div class="Polaris-Card__Header" *ngIf="title != ''">
    <plrsStack alignment='baseline'>
        <plrsStackItem fill>
            <h2 class="Polaris-Heading">{{ title }}</h2>
        </plrsStackItem>
        <plrsStackItem *ngIf="actions">
            <plrsButtonGroup *ngFor="let action of actions">
                <plrsButton [fromAction]="action"></plrsButton>
            </plrsButtonGroup>
        </plrsStackItem>
    </plrsStack>
 </div>

<plrsCardSection *ngIf="(sectioned !== false) else elseTpl">
   <ng-container *ngTemplateOutlet="elseTpl"></ng-container>
</plrsCardSection>

<div class="Polaris-Card__Footer" *ngIf="primaryFooterAction">
    <plrsButtonGroup>
        <plrsButton [fromAction]="primaryFooterAction" primary></plrsButton>
        <plrsButton [fromAction]="secondaryFooterAction" *ngIf="secondaryFooterAction"></plrsButton>
    </plrsButtonGroup>
</div>


<ng-template #elseTpl><ng-content></ng-content></ng-template>
