<plrsPage title="Angular Polaris Project Demo" [primaryAction]="{content: 'Browse Documentation', routerLink: 'doc'}">
    <plrsLayout>
        <plrsSection>
            <plrsCard title="About Angular Polaris" sectioned>
                <p>Angular Polaris is a conversion of the <a href="https://polaris.shopify.com">Shopify Polaris</a> project from React to Angular.</p>
            </plrsCard>
            <plrsCard title="About this demo project" sectioned>
                <p>The purpose of this project is to illustrate the component that are available and how to use them in your angular project.</p>
            </plrsCard>
            <plrsCard title="Learn more" sectioned>
                <ul>
                    <li><a href="https://github.com/syrp-nz/angular-polaris">View this project on GitHub</a></li>
                </ul>
            </plrsCard>
        </plrsSection>
    </plrsLayout>
</plrsPage>
